@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import "Partials/_variables.scss";
@import "Partials/_mixin.scss";
@import "Partials/_commons.scss";

@import "Partials/_header.scss";
@import "Partials/_footer.scss";

.main {
  background-image: url("../../images/bg.jpg");
  margin-top: 20px;

  .container {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;

    & h2 {
      text-transform: uppercase;
      color: $title_color;
    }

    &-box {
    display: flex;
    flex-wrap: wrap;

    li {
      flex-basis: calc(100% / 3 - 6px);
      margin: 3px;
      & img {
        width: 100%;
      }
    }
  }
}
}
