@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap);* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

.header-logo {
  text-align: center;
  padding: 30px 0;
}
.header-logo img {
  height: 100px;
}
.header-menu-nav {
  display: flex;
  justify-content: center;
}
.header-menu-nav li a {
  padding: 20px 15px;
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: bold;
}
.header-menu-nav li a:hover {
  background-color: #B3E5FC;
}

.footer {
  background-image: url("../../images/footer-montagne-bottom.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  margin-top: 20px;
  display: flex;
}
.footer .container {
  display: flex;
}
.footer .container .footer-column {
  flex-basis: calc(100% / 3);
}
.footer .container .footer-column h3 {
  text-transform: uppercase;
  margin: 20px 0;
}
.footer .container .footer-column:not(:first-of-type) ul {
  line-height: 30px;
}

.main {
  background-image: url("../../images/bg.jpg");
  margin-top: 20px;
}
.main h2 {
  text-transform: uppercase;
  color: #002d75;
  margin: 20px 0;
  font-size: 26px;
}
.main .container-box {
  display: flex;
  flex-wrap: wrap;
}
.main .container-box li {
  flex-basis: calc(100% / 3 - 6px);
  margin: 3px;
  position: relative;
}
.main .container-box li .overlay {
  width: 100%;
  height: 100%;
  background-color: #4A6680;
  opacity: 0.7;
  position: absolute;
  display: none;
  font-size: 26px;
  color: #fff;
}
.main .container-box li .overlay a {
  display: inline-block;
  width: 30px;
}
.main .container-box li .overlay a img {
  width: 100%;
}
.main .container-box li img {
  width: 100%;
}
.main .container-box li:hover .overlay {
  display: block;
}