.header {

  &-logo {
    text-align: center;
    padding: 30px 0;
    img {
      height: 100px;
    }
  }
  &-menu-nav {
    display: flex;
    justify-content: center;

    & li a {
      padding: 20px 15px;
      text-decoration: none;
      color: #000;
      font-size: 24px;
      font-weight: bold;

      &:hover {
        background-color: $blue_color;
      }
    }
  }
}
